#social-media {
    background-color: blueviolet;
}
.medialink{
    padding: 1rem;
max-width: 15rem;
margin-left :1rem; ;
border:2px solid #9b3d3d ;
border-radius: 0.5rem;
}


html {
    scroll-behavior: smooth;
}








